/* موبایل: پیش‌فرض */
/* تبلت کوچک: 480px */
/* تبلت: 768px */
/* دسکتاپ: 1024px */
/* دسکتاپ بزرگ: 1200px */
@import 'tailwindcss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchbar input {
  display: none;
}

.header {
  background-color: #ffffff;
  padding: 3rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 3rem;
  gap: 0.8rem;
}
.searcbar {
  position: relative;
  align-items: center;
  display: block;
}
.NavLinks {
  display: none;
}
@media (min-width: 1024px) {
  .desktopsearchbar input {
    display: flex;
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
    width: 100%;
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
    margin-right: 5px;
    font-size: small;
  }
  .desktopsearchbar {
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: 2.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
  }
  .NavLinks {
    display: inline;
    text-align: center;
    font-size: 1.3rem;
    padding: 0 1rem 0 0;
  }
  .NavLinks a {
    text-decoration: none;
    color: black;
    padding: 0 2rem 0 2rem;
  }
  .logo {
    display: flex;
    padding-left: 8rem;
  }
  .icon {
    padding-right: 8rem;
  }
}

.NavLinks {
}
