.input-wrapper{
    background-color: white;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    
}

.input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.5rem;
    width: 100%;
    margin-right: 5px;
}

input:focus{
    outline: none;
}   

#search-icon{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    fill: #888;
    background-color: transparent;
}