.App{
  background-color: #eee;
  width: 100vw;
  height: 100vh;
}

.search-bar-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25vh;
  margin: auto;
  width: 40%;
  min-width: 200px;
}